<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.toastkid.search_widget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ExtendedApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".search.SearchActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".settings.color.ColorSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize"
            />
        <activity
            android:name=".favorite.FavoriteSearchActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="screenSize"
            />
        <service android:name=".favorite.AddingFavoriteSearchService">
            <intent-filter>
                <action android:name="ADD_ITEM" />
            </intent-filter>
        </service>
        <receiver android:name=".appwidget.Provider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
        <receiver
            android:name=".appwidget.IntentReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="UPDATE_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
    </application>

</manifest>